{% extends 'main/layout/layout.html' %}

{% block title%}About us{% endblock %}

{% block content%}
    <div class="features">
        <h1>Discover more</h1>
        <iframe width="1264" height="711" src="https://www.youtube.com/embed/nk_K5DM0UTk" title="DISCO ELYSIUM - The Final Cut Official Launch Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>


{% endblock %}