{% extends 'main/layout/layout.html' %}
{% load static %}

{% block title%}Skills{% endblock %}

{% block content%}
    <h1>Apptitudes</h1>
    <div class="section_background">
        <section>
            
<!--
    <table class="skill_table">
        
        <thead>
            <tr></tr>
                <th scope="col" class="skill_table">Skill</th>
                <th scope="col" class="skill_table">Affiliation</th>
                <th scope="col" class="skill_table">Description</th>
            </tr>
        </thead>
        <tbody>



                <tr class="skill_table">
                <td class="skill_table">{{ skill.skill }}</td>
                <td class="skill_table">{{ skill.attribute }}</td>
                {# Ze znakiem | można dodawać filtry do wyświetlanych w szablonie danych. Np.: variable|lower #}
                <td class="skill_table">{{ skill.description }}</td>
                </tr>
            -->
                
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_logic.png' %}" class="tab">
                <div class="skill_desc">Logic urges you to analyze the living daylights out of the case. It enables you to piece evidence together and detect inconsistencies in statements.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_encyclopedia.png' %}" class="tab">
                <div class="skill_desc">Encyclopedia makes you a know-it-all, turning your mind into a database of facts. It enables you to draw on these facts innately, offering a wealth of background knowledge.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_rhetoric.png' %}" class="tab">
                <div class="skill_desc">Rhetoric urges you to debate, make intellectual discourse, nitpick – and win. It enables you to break down arguments and hear what people are really saying.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_drama.png' %}" class="tab">
                <div class="skill_desc">Drama urges you to treat the world as a stage – and on it, to perform. It will enable you to lie, to concoct the most elaborate and wonderful stories.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_conceptualization.png' %}" class="tab">
                <div class="skill_desc">Conceptualization has a special role it wants you to play in this world – not the role of cop, but of Art Cop. It enables you to make fresh associations.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_visual_calculus.png' %}" class="tab">
                <div class="skill_desc">Visual Calculus verses you not only in the laws of the state, but the laws of nature. It enables you to create virtual crime-scene models in your mind’s eye.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_volition.png' %}" class="tab">
                <div class="skill_desc">Volition urges you to be a good guy – to others and to yourself. It enables you to resist temptation: be it in a bottle, between a pair of legs, or at the end of an iron barrel which promises oblivion.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_inland_empire.png' %}" class="tab">
                <div class="skill_desc">Inland Empire is the unfiltered wellspring of imagination, emotion, and foreboding. It enables you to grope your way through invisible dimensions of reality.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_empathy.png' %}" class="tab">
                <div class="skill_desc">Empathy breaks into the souls of others and forces you to feel what’s inside. It enables you to notice social cues others may miss.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_authority.png' %}" class="tab">
                <div class="skill_desc">Authority urges you to assert and reassert your dominance over those around you. It enables you to understand how far you can push a perpetrator, and how to establish control of situations.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_esprit_de_corps.png' %}" class="tab">
                <div class="skill_desc">Esprit de Corps is the very spirit of policing: the cop-geist. It enables you to understand your blue-souled sisters and brothers.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_suggestion.png' %}" class="tab">
                <div class="skill_desc">Suggestion urges a soft-power approach. If people think they want what you want, you’ve already won. This skill enables you to implant ideas into the minds of others.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_endurance.png' %}" class="tab">
                <div class="skill_desc">Endurance is your metabolism and circulatory system. It improves your Health – one of the two health pools in the game. It enables to survive being a cop.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_pain_threshold.png' %}" class="tab">
                <div class="skill_desc">Pain Threshold ignores damage so you can push on, bloodied and crawling, to the bitterest end. It enables you to negate damage you would otherwise take.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_physical_instrument.png' %}" class="tab">
                <div class="skill_desc">Physical Instrument is not only your muscles and your skeleton – it is your ability to use them effectively.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_electrochemistry.png' %}" class="tab">
                <div class="skill_desc">Electrochemistry is the animal within you, the beast longing to be unleashed to indulge and enjoy. It enables you to take drugs with fewer negative side-effects.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_shivers.png' %}" class="tab">
                <div class="skill_desc">Shivers come when the temperature drops and you become more keenly aware of your surroundings. It enables you to hear the city itself, to truly belong to the streets.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_half_light.png' %}" class="tab">
                <div class="skill_desc">Half Light is your fight-or-flight response. It enables you to sense the way situations are about to turn.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_hand_eye_coordination.png' %}" class="tab">
                <div class="skill_desc">Hand/Eye Coordination loves the interaction between you and things that fly in the air. It enables you to catch coins from mob bosses, shoot straight, and understand firearms intimately.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_perception.png' %}" class="tab">
                <div class="skill_desc">Perception wants you to be open to the world – with eyes, ears, and nose working at full capacity. It enables you to take in what others don’t notice.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_reaction_speed.png' %}" class="tab">
                <div class="skill_desc">Reaction Speed is the agility of your body and mind. It is instinct. It enables you to dodge punches, knives, bullets. Also suckers punches of the verbal kind.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_savoir_faire.png' %}" class="tab">
                <div class="skill_desc">Savoir Faire urges you to be better than you are: it urges you to be disco. Slip by others in Samaran boxing style, then tumble out the back with unexpected acrobatics.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_interfacing.png' %}" class="tab">
                <div class="skill_desc">Interfacing wants you to connect to machines: to use and improve them, because that makes you a better human organism.</div>
            </div>
            <div class="skill_tab">
                <img src="{% static '/images/Portrait_composure.png' %}" class="tab">
                <div class="skill_desc">Composure wants you to not crack: or, at least, it wants you to not crack in front of other people. It enables you to put up a strong front.</div>
            </div>
        </section>
    </div>
        <!--
        </tbody>
    </table>
    -->
{% endblock %}