{% extends 'main/layout/layout.html' %}

{% block title%}Skills{% endblock %}

{% block content%}
    <h1>Apptitudes</h1>
    <table class="skill_table">
        <thead>
            <tr>
                <th scope="col" class="skill_table">Skill</th>
                <th scope="col" class="skill_table">Affiliation</th>
                <th scope="col" class="skill_table">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for skill in skills %}
            <tr class="skill_table">
                <td class="skill_table">{{ skill.skill }}</td>
                <td class="skill_table">{{ skill.attribute }}</td>
{#                Ze znakiem | można dodawać filtry do wyświetlanych w szablonie danych. Np.: variable|lower #}
                <td class="skill_table">{{ skill.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}