{% extends 'main/layout/layout.html' %}

{% block title%}Webpage news{% endblock %}

{% block content%}
    <h1>News</h1>
    <div class="d-flex flex-column gap-4">
    {% if news %}

        {% for article in news %}

        <a href="/news/{{ article.id }}" style="text-decoration: none;">
            <div class="section_background">
            <h3 class="article_link">{{ article.title }}</h3>
            <p class="article_text">{{ article.excerpt }}</p>
            </div>
        </a>

            <div style="float:left;width:100%;height:40px;"></div>

        {% endfor %}

    {% else %}

        <p>No news for now. Come back later!</p>

    {% endif %}
    </div>
{% endblock %}