{% extends 'main/layout/layout.html' %}

{% block title%}(#{{ article.id }}) {{ article.title }}{% endblock %}

{% block content%}
    <div class="d-flex justify-content-between align-items-center w-100">
        <h1>{{ article.title }}</h1>
        <div>
           <!--  <a href="/news/{{ article.id }}/update" class="btn btn-info">Update</a>
            <a href="/news/{{ article.id }}/delete" class="btn btn-danger">Delete</a>-->

        </div>
    </div>
    <div class="d-flex flex-column gap-4" style="background-color: black;">
        <p class="article_text" style="font-size: 20px; text-decoration: underline;">Published at: {{ article.published_at }}</p>
        <p class="article_text">{{ article.body }}</p>
    </div>
{% endblock %}