{% extends 'main/layout/clean_layout.html' %}
 
{% block title%}About us{% endblock %}
 
{% block content%}
 <div class="d-flex align-items-center justify-content-center px-4" style="height: 80vh">
     <div style="max-width: 500px" class="w-100">
         <h1>Log in</h1>
         <form method="POST" action="/login">
             {% csrf_token %}
 
             <div class="mb-3">
               <label for="username" class="form-label">Username</label>
               <input type="text" class="form-control" id="username" name="username" aria-describedby="username" required>
             </div>
 
             <div class="mb-3">
               <label for="password" class="form-label">Password</label>
               <input type="password" class="form-control" id="password" name="password" required>
             </div>
 
             <button type="submit" class="btn btn-primary btn-block">Log in</button>
           </form>
     </div>
 </div>
 
 {% endblock %}