body {
    background-image: url(archetypes.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:50% 50%;
    background-attachment: fixed;
    

    overflow-x: hidden;
    overflow-y: hidden;

}

h1{
    color:white;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    text-shadow: whitesmoke 2px 2px;
}

.form-label{
    color: gainsboro;
    font-family:"Roboto";
}