@import url(https://db.onlinewebfonts.com/c/94e7ae3131502f528720e05efd3f8b9e?family=Dobra+W01+Black+Italic); 

@font-face {
    font-family: "Dobra W01 Black Italic";
    src: url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.eot");
    src: url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/94e7ae3131502f528720e05efd3f8b9e.svg#Dobra W01 Black Italic")format("svg");
}

body {
    background-image: url(cabinet.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color:aliceblue;
}

h1{
    color:aliceblue;
    font-size: 105px;
    text-shadow: -3px -3px 0px #38bb79;
    font-family: "Dobra W01 Black Italic"; 
}

.skill_table{
    background-color:dimgray;
    border: solid 5px white;
    color:black;
}


main{
margin-left: 100px;
float:right;
width:auto;
}

.sidebar_zone{
width:280px;
height: 100%;
}

.sidebar_button{
background-color:#38bb79;
margin-left: -100px;
margin-top:-100px;
font-size:55px;
transition:0.5s;
}

.sidebar_button:hover{
background-color:whitesmoke;
transition: 0.5s;

}

.sidebar_filler{
width: 280px;
visibility:hidden;
height: 100vb;
float:left;
background-color: #212529;
position:absolute;
transition:0.5s;
}

section{
    width:auto;
    height:auto;
    background-color: black;
    margin: 25px;
}

.tab{

}

.skill_tab:hover{
    filter:blur(15px);
    transition: 1s;
}

.skill_tab{
    float:left;
    width:14vb;
    height:20%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}